.accordionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
}
/* .accordionItem {
  margin: 20px 0;
} */
.accordionItem .svg_wrapper_bg_grey {
  background-color: #f7f8fd;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  padding: 16px;
}
.accordionItem .svg_wrapper_bg_grey svg {
  height: 18px;
  width: 18px;
}
.accordionHeader h3 {
  font-weight: 500;
}
.settingsAccoridionContainer {
  background-color: #f7f8fd;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 40px 0;
}
.accordionContentWrapper {
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  height: 0; /* Default closed height */
}

.accordionContentWrapper.open {
  height: auto; /* Height will be calculated dynamically */
}
.settingItem ul {
  list-style: none;
}
.settingItem.toggle2FA {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.accordionContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  background-color: #fff;
  margin: 40px;
  border-radius: 15px;
  border: 1px solid #edf0f7;
}
.accordionItem.open .svg_wrapper_bg_grey {
  background-color: #00d9f5;
  color: #fff;
}
.settingItem p {
  color: #666666;
}
.settingItem button {
  background-color: #00d9f5;
  border: 1px solid #00d9f5;
  padding: 10px 20px;
  border-radius: 50px;
  color: #fff;
}
.settingItem .loggedInDevices {
  border: 2px solid #00d9f5;
  border-radius: 15px;
  margin: 30px 0;
}
.settingItem .loggedInDevices li {
  padding: 30px;
}
.settingItem .loggedInDevices li:not(li:last-child) {
  border-bottom: 2px solid #00d9f5;
}
.accordionContent .settingItem:not(.settingItem:last-child) {
  border-bottom: 2px solid #edf0f7;
  padding-bottom: 30px;
}
.preferneces_settings select {
  min-width: 250px;
  padding: 10px 15px;
  border-radius: 50px;
  border: 2px solid #00d9f5;
}
/* .preferneces_settings select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("image/chevron-down.svg");
} */
.preferneces_settings div {
  margin: 20px 0;
}
.preferneces_settings select {
  margin: 10px 0;
}
.notificationSettings ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}
.notificationSettings ul label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}
.notificationSettings ul label input {
  accent-color: #00d9f5;
  cursor: pointer;
}
.accordionItem .accordionHeader h3 svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.accordionItem .accordionHeader h3 {
  display: flex;
  align-items: center;
}
.settingItem h4 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.notificationSettings li div {
  display: flex;
  justify-content: space-between;
}
.notificationSettings ul {
  gap: 40px;
}
.logOutAllbtnWrapper input[type="button"] {
  background: #fff;
  border: 1px solid #00d9f5;
  border-radius: 50px;
  color: #00d9f5;
  cursor: pointer;
  margin: 5px 0;
  padding: 5px 20px;
}
.logOutAllbtnWrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
@media screen and (max-width: 767px) {
  .accordionContent {
    margin: 20px 10px;
    padding: 15px;
  }
  .preferneces_settings select {
    width: 100%;
  }
}
