.dashboard_domain_cards .ws-card-contents img {
  height: 50px;
  width: 50px;
  object-fit: cover;
}
.dashboard_small_margin {
  margin: 30px 0;
}
.dashboard_domain_cards .ws-card-inner-contents {
  align-items: self-start;
}
.dashboard_domain_cards .ws-card-img img {
  border-radius: 20px 20px 0 0;
}
.dashboard_domain_cards {
  border-radius: 20px;
}
.dashboard_active_domain_wrapper,
.dashboard_draft_domain_wrapper {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
}
.dashboard_domains_wrapper h4 {
  font-weight: 600;
}
.dashboard_domains_cards_wrapper {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 30px;
}
.ws-cards-container-noHover {
  width: calc(25% - 30px);
  border: 1px solid #edf0f7;
  border-radius: 15px;
}
.ws-cards-container-add-domain {
  border: none;
}
.ws-cards-container-add-domain .ws-card-contents img {
  cursor: pointer;
}
.ws-cards-container-noHover .ws-card-img img {
  border-radius: 15px 15px 0 0;
}
.ws-cards-container-noHover .ws-card-contents img {
  height: 50px !important;
  width: 50px !important;
  border-radius: 10px;
}
.ws-cards-container-add-domain .ws-card-img img {
  padding: 50px;
  object-fit: contain !important;
}
.ws-cards-container-add-domain .ws-card-contents,
.ws-cards-container-add-domain .ws-card-img {
  border: 2px dashed #edf0f7;
}
.ws-cards-container-add-domain .ws-card-img {
  border-radius: 15px 15px 0 0;
}
.ws-card-contents h5 {
  font-weight: 500;
  text-align: start;
}
.domains_hover_buttons div {
  background: #00d9f5;
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
}
.domains_hover_buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 100px;
  top: 90px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.domains_hover_buttons svg path {
  fill: #fff !important;
}
.ws-cards-container-noHover:hover .domains_hover_buttons {
  display: flex;
}
.ws_cards_domains_active_draft:hover {
  border: 1px solid #00d9f5;
}
