.myOffersContainer .myOffersTitle svg {
  color: #119ffb;
  fill: #119ffb;
}
.my_offer_accepted_tab svg {
  fill: rgb(103, 116, 142);
}
.myOffers_wrapper .myOffers_flex2 {
  flex: 2;
}
.myOffers_wrapper .myOffers_flex3 {
  flex: 3;
}
.myOffers_wrapper .myOffers_flex10 {
  flex: 10;
}
.myOffers_wrapper .myOffers_flex6 {
  flex: 6;
}

.myOffers_extra_col.myOffers_countereed input[type="text"] {
  width: auto;
}
.myOffers_wrapper .myOffers_countered_title {
  max-width: 50%;
  word-break: break-all;
}
.myOffers_extra_col .myOffers_extra_col_first_col {
  flex: 2;
}
.myOffers_extra_col_not_countered .myOffers_extra_col_first_col {
  flex: 3;
}
.myOffers_wrapper .myOffers_flex1 {
  flex: 1;
  justify-content: center;
}
.myOffers_wrapper .myOffers_icons {
  margin: 0;
}
.myOffers_wrapper .svg_white svg path {
  fill: #fff !important;
}
.myOffers_wrapper .svg_white svg {
  display: flex;
}
.myOffers_d_flex {
  display: flex;
}
.myOffers_extra_column_buttons button {
  padding: 12px;
  aspect-ratio: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}
.myOffers_wrapper .myOffers_extra_offer_form {
  justify-content: space-around;
  /* padding: 20px; */
}
.myOffers_extra_offer_form .remake_offer_icon svg {
  height: 24px;
  width: 24px;
}
.myOffers_extra_offer_form input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
.myOffers_offer_image {
  background: linear-gradient(-45deg, #00daf6, #119ffb 59%, #2164ff);
  padding: 15px;
  border-radius: 10px;
  display: flex;
}
.myOffers_offer_image svg path {
  fill: #fff;
}
.expiry_soon span {
  background-color: #f6000c;
  color: #fff;
  padding: 1px 8px;
  border-radius: 40px;
  font-size: 12px;
}
.remake_offer_icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(-50%, -35%);
}
.myOffers_extra_offer_form input[type="text"] {
  padding: 15px 40px;
}
.acceptedOfferWrap form {
  flex: none;
}
.acceptedOfferWrap .accepted_extra_col_wrap div {
  margin: 0;
}
.acceptedOfferWrap .accepted_extra_col_wrap {
  justify-content: space-between;
  gap: 30px;
}
.manageOffer_extra_col_flex2 {
  flex: 2;
}
.card_count {
  position: absolute;
  position: absolute;
  right: 10px;
  top: -10px;
  padding: 2px;
  border-radius: 20px;
  padding: 2px 6px;
  aspect-ratio: 1;
  background: #00d9f5;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}
.card_count p {
  font-size: 14px;
  line-height: 14px;
}
@media screen and (max-width: 767px) {
  .width_100 {
    width: 100%;
  }
  .myOffers_offer_image {
    width: fit-content !important;
  }
  .myOffers_wrapper .myOffers_flex1 {
    justify-content: end;
  }
  .card_count {
    right: 0;
  }
}
@media screen and (max-width: 1300px) {
  .myOffers_wrapper .myOffers_extra_col {
    flex-direction: column;
  }
  .myOffers_wrapper .myOffers_extra_col:not(.myOffers_extra_col:last-child),
  .manageOffer_extra_col_wrap:not(.manageOffer_extra_col_wrap:last-child) {
    border-bottom: 1px solid #edf0f7;
    padding-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .dashboard_tab_w_100 {
    width: 100%;
  }
  .myOffers_wrapper .myOffers_countered_title {
    max-width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .manageOffer_recents_wrap_tab_col {
    flex-direction: column;
  }
}
